#home-page {
  height: 91%;
  width: 75%;
  margin: auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  color: black;
  background: rgba(255, 255, 255, 1.0);
}

#home-page-header {
  font-size: 100px;
  color: rgb(52, 96, 133);
}

.home-tank-list {
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-tank-list h2 {
  margin-bottom: 50px;
  font-size: 50px;
  color: rgb(52, 96, 133);
}

.home-tank-list-item {
  width: 150px;
  padding: 10px 10px;
  margin-right: 0px;
  text-align: center;
  font-size: 20px;
  list-style: none;
}

.home-tank-list-item:hover {
  cursor: pointer;
  background: rgba(52, 96, 133, 1);
  color: white;
}

.home-tank-list-item:active {
  background: rgba(33, 68, 97, 1);
}