// Place all the styles related to the api/tanks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#create-tank-form-container {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#create-tank-form {
  background: white;
  border-radius: 25px;
  height: 300px;
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#create-tank-name label {
  font-size: 25px;
  padding-right: 10px;
}

#create-tank-name input {
  width: 250px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid gray;
}

#create-tank-submit {
  height: 50px;
  width: 150px;
  background-color: rgb(60, 114, 158);
  color: white;
  border: none;
  border-radius: 10px;
}

#create-tank-submit:hover {
  cursor: pointer;
  background-color: rgba(52, 96, 133, 1);
}

#create-tank-submit:active {
  background-color: rgba(33, 68, 97, 1);
}