#tank-show-page-container {
  height: 96%;
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}

#tank-show-page {
  height: 100%;
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: center;
  color: black;
  background: rgba(255, 255, 255, 1.0);
}

#tank-show-name {
  font-size: 100px;
  color: rgb(52, 96, 133);
}

#tank-log-list {
  width: 20%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

#tank-log-list::-webkit-scrollbar {
  display: none;
}

#tank-log-list h2 {
  font-size: 25px;
  color: rgb(52, 96, 133);
}

.tank-log-list-item {
  padding: 10px 20px;
  font-size: 15px;
  list-style: none;
}

.tank-log-list-item:hover {
  cursor: pointer;
  background: rgba(52, 96, 133, 1);
  color: white;
}