#post-item-list-container {
  height: 91%;
  width: 70%;
  margin: auto;
  padding: 20px 20px 20px 10px;
}

#post-item-list {
  height: 80%;
  padding: 20px;
  margin: 0px;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow-y: scroll;
  background: white;
}

.post-item {
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.post-item-title {
  font-size: 20px;
  font-weight:bold;
}

.post-item:hover {
  cursor: pointer;
}

.post-item-username {
  color:rgb(167, 167, 167);
  font-size: 12px;
}